.form-switch{
  padding-left:60rem;
}
.footer{
  padding-left: 10rem;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(89, 85, 85, 0.777);
  color: white;
}
